{% extends 'encyclopedia/layout.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div id = 'edit_save'>
        <form action="{%  url 'editted_saved' title=title %}" method="post">
            {% csrf_token %}
            <h1>Editing title
                <cite>{{ title }}</cite>
            </h1>
            <div id="content">
                <textarea id="markdown" name="markdown">{{markdown|safe}}</textarea>
            </div>
        <button type="submit">Save</button>
        </form>

    </div>
{% endblock %}

